<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index Page</title>
</head>
<body>
<h1>Welcome to the Index Page</h1>

<p th:text="'Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed luctus nisl sed enim malesuada, vitae pretium ligula posuere. Maecenas consequat finibus sem a aliquet. Maecenas fermentum laoreet dolor, a cursus velit cursus ut. Nulla ut sapien sem. Nulla facilisi. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Phasellus lobortis, mauris non hendrerit posuere, dolor urna cursus mauris, a dapibus augue urna sit amet tellus. Sed consectetur mi sed justo tempus eleifend. Integer lobortis ultricies augue eget consectetur. Sed eu quam diam. Mauris nec lacinia ligula. Fusce ac sagittis dolor. Nullam ut purus feugiat, tincidunt nunc sit amet, viverra ex. Sed malesuada purus eget congue porta. Nulla id elit ac sapien fermentum vulputate.'">
    <!-- This paragraph will be replaced by the Thymeleaf expression -->
</p>

<p>More content...</p>
</body>
</html>
